body {
  padding-top: 60px; /* prevents content from hiding under navbar */
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
  position: relative;
}

/* Grid Background */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  z-index: -2;
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 85%;
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 35px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;

  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

/* Links */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #cbd5e1;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}

/* Hide checkbox */
#menu-toggle {
    display: none;
}

/* wrapper = the box that expands */
.menu-wrapper {
    position: relative;
}

/* Hamburger icon hidden on desktop */
.menu-icon {
  display: none;
  font-size: 28px;
  color: white;  
  cursor: pointer;
  width: 25px;
  height: 15px;
  margin-right: 10px;
}

/* ========================= */
/* MOBILE VIEW */
/* ========================= */
@media (max-width: 768px) {

  /* show hamburger */
  .menu-icon {
    display: block;
  }

  /* hide logo initially*/
  .logo{
    display: none;
  }

  .navbar {
    left: 10px;
    transform: none;
    width: auto;
    padding: 10px;
    padding-right: 0;
  }

  /* collapsed box (just icon) */
  .nav-links {
    position: absolute;
    top: 0;
    right: auto;
    width: 40;
    height: 40;

    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 0;
    opacity: 0;

    overflow: hidden;

    background: rgba(15, 23, 42, 0.95);
    border-radius: 10px;

    pointer-events: none;
    transition: all 0.3s ease;
  }

  /* OPEN → box expands into menu */
  #menu-toggle:checked ~ .menu-wrapper .nav-links {
    width: 180px;
    height: auto;

    padding: 15px 20px;
    pointer-events: auto;
    opacity: 1;
  }
}

/* Hover Effect */
.nav-links a:hover {
  color: white;
}

/* Animated Underline */
.nav-links a::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -5px;

  width: 0%;
  height: 2px;

  background: linear-gradient(
    90deg,
    #3b82f6,
    #8b5cf6
    );

    transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Glowing Circles */
.background {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
}

.circle1 {
  width: 300px;
  height: 300px;
  background: #3b82f6;
  top: 10%;
  left: 10%;
}

.circle2 {
  width: 350px;
  height: 350px;
  background: #8b5cf6;
  bottom: 10%;
  right: 10%;
}

.contact-info {
  margin-top: 20px;
  padding: 20px 30px;

  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  backdrop-filter: blur(10px);

  font-size: 1.1rem;
  color: #cbd5e1;
}

.contact-info p {
  margin: 10px 0;
  color: white;
}

.icon-phone {
  width: 25px;
  height: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

.icon-mail{
  width: 25px;
  height: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

.icon-linkedin{
  width: 25px;
  height: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

.contact-info a{
  color: white;
}